.loginP{
	background-image: url("assets/img/wave2.jpg"), url("paper.gif");
	background-repeat: no-repeat;
  	background-attachment: fixed;
 	 background-size: cover;

}
.contact-img{
	background-image: url("assets/img/own/contact.jpg"), url("paper.gif");
	background-repeat: no-repeat;
  	background-attachment: fixed;
 	 background-size: cover;
 	 height: 250px;
}